/* Place custom css here. */
@reference './app.css';

.seas-logo {
  width: auto;
  max-width: 527px;
  padding-top: 12px;
  padding-bottom: 12px;
}

/* Sticky footer styles */
html {
  height: 100%;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

.full-width {
  width: 100%;
}

@media (min-width: 64rem) {
  .nav-item {
    margin-right: 1.5rem;
  }
}
