/* Place custom css here. */
@reference './app.css';

.seas-logo {
  width: auto;
  max-width: 527px;
  padding-top: 12px;
  padding-bottom: 12px;
}

/* Sticky footer styles */
html {
  height: 100%;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

.full-width {
  width: 100%;
}

@media (min-width: 64rem) {
  .nav-item {
    margin-right: 1.5rem;
  }
}

.people-image {
  /* 1. Set equal width and height */
  width: 200px;
  height: 200px;
  
  /* 2. Make it a circle */
  border-radius: 50%;
  
  /* 3. Scale the image to cover the area without stretching */
  object-fit: cover;
  
  /* Optional: Center the focus if the subject isn't in the middle */
  object-position: top;

  margin-top: 0;
  margin-bottom: 0.8rem;
  padding: 1rem;
}

.people-text {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  line-height: 1.25;
}

.people-links {
  margin-top: 0.5rem !important;
}

.people-name {
  font-weight: 700;
}

.people-placeholder {
  background-clip: content-box;
  -webkit-background-clip: content-box;
}


.people-grid {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr)); /* 1 column by default */
  gap: 2rem 1rem; /* Space between grid items */
}

@media (min-width: 480px) { /* sm breakpoint */
  .people-grid {
    grid-template-columns: repeat(2, minmax(0, 1fr)); /* 2 columns on small screens */
  }
}

@media (min-width: 768px) { /* md breakpoint */
  .people-grid {
    grid-template-columns: repeat(3, minmax(0, 1fr)); /* 3 columns on medium screens */
  }
}

@media (min-width: 1024px) { /* lg breakpoint */
  .people-grid {
    grid-template-columns: repeat(4, minmax(0, 1fr)); /* 4 columns on large screens */
  }
}

.hover\:underline:hover {
  text-decoration: underline;
}

.header-shield {
  font-size: 2.5rem;
  height: 45px;
  margin-right: 10px;
  display: inline-block;
  vertical-align: middle;
  object-fit: cover;
}

@media (max-width: 405px) {
  .header-shield {
    display: none;
  }
}
